<ion-content [fullscreen]="true" class="forest-bg">
  <div class="header-container">
    <div class="header-content">
      <div class="nav-row">
        <div class="title-group">
          <ion-button fill="clear" class="back-btn" (click)="goBack()">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
          <h1 class="page-title">{{ eventTitle }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="content-body">
    <div class="form-card animate-up">
    

      <div *ngFor="let field of dynamicFields" class="input-wrapper">
        <ion-label class="field-label">{{ field.label }}</ion-label>

        <ion-item lines="none" class="custom-input" *ngIf="field.type === 'text' || field.type === 'number'">
          <ion-icon *ngIf="field.icon" [name]="field.icon" slot="start" class="field-icon"></ion-icon>
          <ion-input 
            [type]="field.type" 
            [placeholder]="field.placeholder" 
            [value]="field.value" 
            [readonly]="field.readonly">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="custom-input" *ngIf="field.type === 'select'">
          <ion-select [placeholder]="field.placeholder" interface="action-sheet" mode="md">
            <ion-select-option *ngFor="let opt of field.options" [value]="opt">
              {{ opt }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none" class="custom-input area-item" *ngIf="field.type === 'textarea'">
          <ion-textarea [placeholder]="field.placeholder" rows="3" auto-grow="true"></ion-textarea>
        </ion-item>

        <div class="photo-upload-box" *ngIf="field.type === 'file'">
          <div class="image-preview" *ngIf="capturedPhoto">
            <img [src]="capturedPhoto" />
          </div>
          <ion-button fill="outline" class="upload-btn" (click)="selectImageSource()">
            <ion-icon slot="start" [name]="capturedPhoto ? 'checkmark-circle' : 'camera-outline'"></ion-icon>
            {{ capturedPhoto ? 'Change Photo' : 'Capture Photo' }}
          </ion-button>
        </div>
      </div>

      <ion-button expand="block" class="submit-btn">
        Submit Report
      </ion-button>
    </div>
  </div>
</ion-content>