<ion-content class="hierarchy-container">
  <ion-list>
    <div *ngFor="let item of categories">
      <ion-item [ngClass]="'level-' + item.layerId">
        <ion-label>
          <h2>{{ item.name }}</h2>
          <p>Layer ID: {{ item.layerId }}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>